[Desktop Entry]
Version=1.0
Name=AEZORA Core
Comment=AEZORA P2P Cryptocurrency
Comment[fr]=AEZORA, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AEZORA, eşten eşe kriptografik sanal para birimi
Exec=aezora-qt %u
Terminal=false
Type=Application
Icon=aezora128
MimeType=x-scheme-handler/aezora;
Categories=Office;Finance;
StartupWMClass=Aezora-qt
