# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=AEZORA Core Daemon SNAP
Comment=main
GenericName=AEZORA Digital Currency Daemon Client main network
Exec=aezora-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/aezora.png
MimeType=x-scheme-handler/azr;
Categories=X-Office;X-Finance;
Keywords=internet;aezora;zazr;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
